# shellcheck disable=SC2148
export DIRENV_WARN_TIMEOUT=10s

# devenv needs the project root passed as a flake input override
# https://devenv.sh/guides/using-with-flakes/
mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" >"$DEVENV_ROOT_FILE"

nix_direnv_manual_reload
use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
